<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>") //faz o redirect para o back-end
        </script>
    </head>
</html>